In [34]:
import os
import sqlite3
import pandas as pd
import traceback
import matplotlib.pyplot as plt
import math 


def separar_periodo(periodo):
    
    if type(periodo) == str:

        periodos = periodo.replace(" ","").split("-")

        return periodos[0],periodos[1]

In [4]:
indicadores_csv = [
        "indices\\indice_IGP-10.csv",
        "indices\\indice_IGP-DI.csv",
        "indices\\indice_IGP-M.csv",
        "indices\\indice_INCC-DI.csv",
        "indices\\indice_INCC-M.csv",
        "indices\\indice_INPC.csv",
        "indices\\indice_IPA-DI.csv",
        "indices\\indice_IPA-M.csv",
        "indices\\indice_IPCA.csv",
        "indices\\indice_IPCA-15.csv",
        "indices\\indice_IPC-DI.csv",
        "indices\\indice_IPC-M.csv",
        "indices\\IPCA.csv",
        "indices\\CDI.csv"
    ]

In [15]:
for indicador in indicadores_csv:
    
    indicador_df = pd.read_csv(indicador,encoding='ISO-8859-1')
    print(indicador_df["Unnamed: 0"])
    break

0     2024
1     2023
2     2022
3     2021
4     2020
5     2019
6     2018
7     2017
8     2016
9     2015
10    2014
11    2013
12    2012
13    2011
14    2010
15    2009
16    2008
17    2007
18    2006
19    2005
20    2004
21    2003
22    2002
23    2001
24    2000
Name: Unnamed: 0, dtype: int64

In [31]:
janeiro = []
fevereiro = []
marco = []
abril = []
maio = []
junho = []
julho = []
agosto = []
setembro = []
outubro = []
novembro = []
dezembro = []


for _, row in indicador_df.iterrows():

    print(row["Jan"].replace(",",".").replace("%",""))

0.42
0.05
1.79
1.33
1.07
-0.26
0.79
0.88
0.69
0.42
0.58
0.42
0.08
0.49
0.20
-0.85
1.02
0.39
0.84
0.42
0.76
2.29
0.26
0.63
1.22

In [35]:
selic = "indices\\Selic.csv"

selic_df = pd.read_csv(selic,encoding='ISO-8859-1')

selic_df[['de', 'ate']] = selic_df['Periodo'].apply(separar_periodo).apply(pd.Series)

In [37]:
selic_df.to_csv("indices\\Selic_tratado.csv")

In [39]:
for _, row in selic_df.iterrows():
    print(row)

Data                   18/09/24
Periodo            19/09/2024 -
MetaSelic                 10,75
Percentual                  NaN
PercentualAnual             NaN
de                   19/09/2024
ate
Name: 0, dtype: object
Data                              31/07/24
Periodo            01/08/2024 - 18/09/2024
MetaSelic                             10,5
Percentual                            1,38
PercentualAnual                       10,4
de                              01/08/2024
ate                             18/09/2024
Name: 1, dtype: object
Data                              19/06/24
Periodo            20/06/2024 - 31/07/2024
MetaSelic                             10,5
Percentual                            1,18
PercentualAnual                       10,4
de                              20/06/2024
ate                             31/07/2024
Name: 2, dtype: object
Data                              08/05/24
Periodo            09/05/2024 - 19/06/2024
MetaSelic                             10,5
Percentual                            1,15
PercentualAnual                       10,4
de                              09/05/2024
ate                             19/06/2024
Name: 3, dtype: object
Data                              20/03/24
Periodo            21/03/2024 - 08/05/2024
MetaSelic                            10,75
Percentual                            1,33
PercentualAnual                      10,65
de                              21/03/2024
ate                             08/05/2024
Name: 4, dtype: object
Data                              31/01/24
Periodo            01/02/2024 - 20/03/2024
MetaSelic                            11,25
Percentual                            1,39
PercentualAnual                      11,15
de                              01/02/2024
ate                             20/03/2024
Name: 5, dtype: object
Data                              13/12/23
Periodo            14/12/2023 - 31/01/2024
MetaSelic                            11,75
Percentual                            1,45
PercentualAnual                      11,65
de                              14/12/2023
ate                             31/01/2024
Name: 6, dtype: object
Data                              01/11/23
Periodo            03/11/2023 - 13/12/2023
MetaSelic                            12,25
Percentual                            1,28
PercentualAnual                      12,15
de                              03/11/2023
ate                             13/12/2023
Name: 7, dtype: object
Data                              20/09/23
Periodo            21/09/2023 - 02/11/2023
MetaSelic                            12,75
Percentual                            1,38
PercentualAnual                      12,65
de                              21/09/2023
ate                             02/11/2023
Name: 8, dtype: object
Data                              02/08/23
Periodo            03/08/2023 - 20/09/2023
MetaSelic                            13,25
Percentual                            1,68
PercentualAnual                      13,15
de                              03/08/2023
ate                             20/09/2023
Name: 9, dtype: object
Data                              21/06/23
Periodo            22/06/2023 - 02/08/2023
MetaSelic                            13,75
Percentual                            1,53
PercentualAnual                      13,65
de                              22/06/2023
ate                             02/08/2023
Name: 10, dtype: object
Data                              03/05/23
Periodo            04/05/2023 - 21/06/2023
MetaSelic                            13,75
Percentual                            1,74
PercentualAnual                      13,65
de                              04/05/2023
ate                             21/06/2023
Name: 11, dtype: object
Data                              22/03/23
Periodo            23/03/2023 - 03/05/2023
MetaSelic                            13,75
Percentual                            1,38
PercentualAnual                      13,65
de                              23/03/2023
ate                             03/05/2023
Name: 12, dtype: object
Data                              01/02/23
Periodo            02/02/2023 - 22/03/2023
MetaSelic                            13,75
Percentual                            1,69
PercentualAnual                      13,65
de                              02/02/2023
ate                             22/03/2023
Name: 13, dtype: object
Data                              07/12/22
Periodo            08/12/2022 - 01/02/2023
MetaSelic                            13,75
Percentual                            2,05
PercentualAnual                      13,65
de                              08/12/2022
ate                             01/02/2023
Name: 14, dtype: object
Data                              26/10/22
Periodo            27/10/2022 - 07/12/2022
MetaSelic                            13,75
Percentual                            1,43
PercentualAnual                      13,65
de                              27/10/2022
ate                             07/12/2022
Name: 15, dtype: object
Data                              21/09/22
Periodo            22/09/2022 - 26/10/2022
MetaSelic                            13,75
Percentual                            1,23
PercentualAnual                      13,65
de                              22/09/2022
ate                             26/10/2022
Name: 16, dtype: object
Data                              03/08/22
Periodo            04/08/2022 - 21/09/2022
MetaSelic                            13,75
Percentual                            1,74
PercentualAnual                      13,65
de                              04/08/2022
ate                             21/09/2022
Name: 17, dtype: object
Data                              15/06/22
Periodo            17/06/2022 - 03/08/2022
MetaSelic                            13,25
Percentual                            1,68
PercentualAnual                      13,15
de                              17/06/2022
ate                             03/08/2022
Name: 18, dtype: object
Data                              04/05/22
Periodo            05/05/2022 - 16/06/2022
MetaSelic                            12,75
Percentual                            1,43
PercentualAnual                      12,65
de                              05/05/2022
ate                             16/06/2022
Name: 19, dtype: object
Data                              16/03/22
Periodo            17/03/2022 - 04/05/2022
MetaSelic                            11,75
Percentual                            1,45
PercentualAnual                      11,65
de                              17/03/2022
ate                             04/05/2022
Name: 20, dtype: object
Data                              02/02/22
Periodo            03/02/2022 - 16/03/2022
MetaSelic                            10,75
Percentual                            1,13
PercentualAnual                      10,65
de                              03/02/2022
ate                             16/03/2022
Name: 21, dtype: object
Data                              08/12/21
Periodo            09/12/2021 - 02/02/2022
MetaSelic                             9,25
Percentual                             1,4
PercentualAnual                       9,15
de                              09/12/2021
ate                             02/02/2022
Name: 22, dtype: object
Data                              27/10/21
Periodo            28/10/2021 - 08/12/2021
MetaSelic                             7,75
Percentual                            0,82
PercentualAnual                       7,65
de                              28/10/2021
ate                             08/12/2021
Name: 23, dtype: object
Data                              22/09/21
Periodo            23/09/2021 - 27/10/2021
MetaSelic                             6,25
Percentual                            0,57
PercentualAnual                       6,15
de                              23/09/2021
ate                             27/10/2021
Name: 24, dtype: object
Data                              04/08/21
Periodo            05/08/2021 - 22/09/2021
MetaSelic                             5,25
Percentual                            0,68
PercentualAnual                       5,15
de                              05/08/2021
ate                             22/09/2021
Name: 25, dtype: object
Data                              16/06/21
Periodo            17/06/2021 - 04/08/2021
MetaSelic                             4,25
Percentual                            0,57
PercentualAnual                       4,15
de                              17/06/2021
ate                             04/08/2021
Name: 26, dtype: object
Data                              05/05/21
Periodo            06/05/2021 - 16/06/2021
MetaSelic                              3,5
Percentual                            0,39
PercentualAnual                        3,4
de                              06/05/2021
ate                             16/06/2021
Name: 27, dtype: object
Data                              17/03/21
Periodo            18/03/2021 - 05/05/2021
MetaSelic                             2,75
Percentual                            0,34
PercentualAnual                       2,65
de                              18/03/2021
ate                             05/05/2021
Name: 28, dtype: object
Data                              20/01/21
Periodo            21/01/2021 - 17/03/2021
MetaSelic                                2
Percentual                            0,28
PercentualAnual                        1,9
de                              21/01/2021
ate                             17/03/2021
Name: 29, dtype: object
Data                              09/12/20
Periodo            10/12/2020 - 20/01/2021
MetaSelic                                2
Percentual                            0,21
PercentualAnual                        1,9
de                              10/12/2020
ate                             20/01/2021
Name: 30, dtype: object
Data                              28/10/20
Periodo            29/10/2020 - 09/12/2020
MetaSelic                                2
Percentual                            0,22
PercentualAnual                        1,9
de                              29/10/2020
ate                             09/12/2020
Name: 31, dtype: object
Data                              16/09/20
Periodo            17/09/2020 - 28/10/2020
MetaSelic                                2
Percentual                            0,22
PercentualAnual                        1,9
de                              17/09/2020
ate                             28/10/2020
Name: 32, dtype: object
Data                              05/08/20
Periodo            06/08/2020 - 16/09/2020
MetaSelic                                2
Percentual                            0,22
PercentualAnual                        1,9
de                              06/08/2020
ate                             16/09/2020
Name: 33, dtype: object
Data                              17/06/20
Periodo            18/06/2020 - 05/08/2020
MetaSelic                             2,25
Percentual                             0,3
PercentualAnual                       2,15
de                              18/06/2020
ate                             05/08/2020
Name: 34, dtype: object
Data                              06/05/20
Periodo            07/05/2020 - 17/06/2020
MetaSelic                                3
Percentual                            0,32
PercentualAnual                        2,9
de                              07/05/2020
ate                             17/06/2020
Name: 35, dtype: object
Data                              18/03/20
Periodo            19/03/2020 - 06/05/2020
MetaSelic                             3,75
Percentual                            0,46
PercentualAnual                       3,65
de                              19/03/2020
ate                             06/05/2020
Name: 36, dtype: object
Data                              05/02/20
Periodo            06/02/2020 - 18/03/2020
MetaSelic                             4,25
Percentual                            0,45
PercentualAnual                       4,15
de                              06/02/2020
ate                             18/03/2020
Name: 37, dtype: object
Data                              11/12/19
Periodo            12/12/2019 - 05/02/2020
MetaSelic                              4,5
Percentual                            0,65
PercentualAnual                        4,4
de                              12/12/2019
ate                             05/02/2020
Name: 38, dtype: object
Data                              30/10/19
Periodo            31/10/2019 - 11/12/2019
MetaSelic                                5
Percentual                            0,55
PercentualAnual                        4,9
de                              31/10/2019
ate                             11/12/2019
Name: 39, dtype: object
Data                              18/09/19
Periodo            19/09/2019 - 30/10/2019
MetaSelic                              5,5
Percentual                            0,63
PercentualAnual                        5,4
de                              19/09/2019
ate                             30/10/2019
Name: 40, dtype: object
Data                              31/07/19
Periodo            01/08/2019 - 18/09/2019
MetaSelic                                6
Percentual                             0,8
PercentualAnual                        5,9
de                              01/08/2019
ate                             18/09/2019
Name: 41, dtype: object
Data                              19/06/19
Periodo            21/06/2019 - 31/07/2019
MetaSelic                              6,5
Percentual                            0,72
PercentualAnual                        6,4
de                              21/06/2019
ate                             31/07/2019
Name: 42, dtype: object
Data                              08/05/19
Periodo            09/05/2019 - 20/06/2019
MetaSelic                              6,5
Percentual                            0,74
PercentualAnual                        6,4
de                              09/05/2019
ate                             20/06/2019
Name: 43, dtype: object
Data                              20/03/19
Periodo            21/03/2019 - 08/05/2019
MetaSelic                              6,5
Percentual                            0,82
PercentualAnual                        6,4
de                              21/03/2019
ate                             08/05/2019
Name: 44, dtype: object
Data                              06/02/19
Periodo            07/02/2019 - 20/03/2019
MetaSelic                              6,5
Percentual                            0,69
PercentualAnual                        6,4
de                              07/02/2019
ate                             20/03/2019
Name: 45, dtype: object
Data                              12/12/18
Periodo            13/12/2018 - 06/02/2019
MetaSelic                              6,5
Percentual                            0,94
PercentualAnual                        6,4
de                              13/12/2018
ate                             06/02/2019
Name: 46, dtype: object
Data                              31/10/18
Periodo            01/11/2018 - 12/12/2018
MetaSelic                              6,5
Percentual                            0,69
PercentualAnual                        6,4
de                              01/11/2018
ate                             12/12/2018
Name: 47, dtype: object
Data                              19/09/18
Periodo            20/09/2018 - 31/10/2018
MetaSelic                              6,5
Percentual                            0,72
PercentualAnual                        6,4
de                              20/09/2018
ate                             31/10/2018
Name: 48, dtype: object
Data                              01/08/18
Periodo            02/08/2018 - 19/09/2018
MetaSelic                              6,5
Percentual                            0,84
PercentualAnual                        6,4
de                              02/08/2018
ate                             19/09/2018
Name: 49, dtype: object
Data                              20/06/18
Periodo            21/06/2018 - 01/08/2018
MetaSelic                              6,5
Percentual                            0,74
PercentualAnual                        6,4
de                              21/06/2018
ate                             01/08/2018
Name: 50, dtype: object
Data                              16/05/18
Periodo            17/05/2018 - 20/06/2018
MetaSelic                              6,5
Percentual                            0,59
PercentualAnual                        6,4
de                              17/05/2018
ate                             20/06/2018
Name: 51, dtype: object
Data                              21/03/18
Periodo            22/03/2018 - 16/05/2018
MetaSelic                              6,5
Percentual                            0,94
PercentualAnual                        6,4
de                              22/03/2018
ate                             16/05/2018
Name: 52, dtype: object
Data                              07/02/18
Periodo            08/02/2018 - 21/03/2018
MetaSelic                             6,75
Percentual                            0,72
PercentualAnual                       6,65
de                              08/02/2018
ate                             21/03/2018
Name: 53, dtype: object
Data                              06/12/17
Periodo            07/12/2017 - 07/02/2018
MetaSelic                                7
Percentual                            1,15
PercentualAnual                        6,9
de                              07/12/2017
ate                             07/02/2018
Name: 54, dtype: object
Data                              25/10/17
Periodo            26/10/2017 - 06/12/2017
MetaSelic                              7,5
Percentual                             0,8
PercentualAnual                        7,4
de                              26/10/2017
ate                             06/12/2017
Name: 55, dtype: object
Data                              06/09/17
Periodo            08/09/2017 - 25/10/2017
MetaSelic                             8,25
Percentual                            1,03
PercentualAnual                       8,15
de                              08/09/2017
ate                             25/10/2017
Name: 56, dtype: object
Data                              26/07/17
Periodo            27/07/2017 - 06/09/2017
MetaSelic                             9,25
Percentual                            1,05
PercentualAnual                       9,15
de                              27/07/2017
ate                             06/09/2017
Name: 57, dtype: object
Data                              31/05/17
Periodo            01/06/2017 - 26/07/2017
MetaSelic                            10,25
Percentual                            1,51
PercentualAnual                      10,15
de                              01/06/2017
ate                             26/07/2017
Name: 58, dtype: object
Data                              12/04/17
Periodo            13/04/2017 - 31/05/2017
MetaSelic                            11,25
Percentual                            1,35
PercentualAnual                      11,15
de                              13/04/2017
ate                             31/05/2017
Name: 59, dtype: object
Data                              22/02/17
Periodo            23/02/2017 - 12/04/2017
MetaSelic                            12,25
Percentual                            1,51
PercentualAnual                      12,15
de                              23/02/2017
ate                             12/04/2017
Name: 60, dtype: object
Data                              11/01/17
Periodo            12/01/2017 - 22/02/2017
MetaSelic                               13
Percentual                            1,45
PercentualAnual                       12,9
de                              12/01/2017